<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Найди СТО</title>
	<div class="fixed-container">
		<div id="title-bar">
		Найди СТО
	</div>
	</div>
</head>
<body>
	<div class="fixed-container">
		<div id="client-info">
			Ваши данные:<br>
			Гребеньков Александр Петрович
			Lexus GS300 
		</div>
		<div id="product-container">
			Предложения:
		</div>
	</div>

</body>
</html>