<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
	<title>Найди СТО</title>
	<script type=text/javascript src="{{url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>
	
	
	<div class="fixed-container">
		<div id="title-bar">
		Найди СТО
	</div>
	</div>
</head>
<body>
	<div class="fixed-container">		
		<div class="headlines" id="client-info">
			Ваши данные<br>
			<div id="pokatak">подгружать из формы рег-ции<br> 
				(ФИО. контактные данные, список а/м)</div>	
			</div>
			<button class="button-style" id="button-add-car" name="add-car" onclick="addCarForm()" type="button">Добавить автомобиль</button>
		<form id="client-form" hidden>	
				<div class="headlines">Марка
					<select class="wh" id="car-brend" autocomplete="off">
						<option value="">-Выбрать марку-</option>
						<option>Kia</option>
						<option>Lexus</option>
					</select></div>
				
				<div class="headlines">Модель
					<select class="wh" id="car-model">
						<option value="">-Выбрать модель-</option>
						<option value="Rio">Rio</option>
						<option value="Ceed">Ceed</option>
						<option value="GS300">GS300</option>
					</select></div>
				<div class="headlines">Год выпуска
					<input class="wh" id="car-year" placeholder="год выпуска" >
				</div>
				<div class="headlines">Тип привода
					<select class="wh" id="car-drive-unit">
						<option value="">-Привод-</option>
						<option>Передний</option>
						<option>Задний</option>
				</select></div>
				<div class="headlines">Тип двигателя
					<select  class="wh" id="car-engine-type">
						<option value="">-Тип двигателя-</option>
						<option>Бензин</option>
						<option>Дизель</option>
						<option>Гибрид</option>
					</select></div>
				<div class="headlines">Обьём двигателя
					<select  class="wh" id="car-engine-capacity">
						<option value="">-Объём двигателя-</option>
						<option>1.4</option>
						<option>1.6</option>
						<option>1.8</option>
						<option>2.0</option>
						<option>3.0</option>
					</select></div>
				<div class="headlines">Коробка предач
				<select  class="wh" id="car-transmission">
					<option value="">-Коробка передач-</option>
					<option>МКПП</option>
					<option>АКПП</option>
				</select></div>
				<div id="button-save-car">
				<button class="button-style" name="send-json" type="button" onclick="addCarToDatabase()">Сохранить автомобиль</button>
				</div>
				<div id="button-get-price">
				<button class="button-style" name="get-json" type="button" onclick="getInspections()" >Получить предложения</button>
				</div>
		
			</form>
		
		<div id="product-container"><br>
			Предложения:
			<textarea id="inspections" autocomplete="off"></textarea>
		</div>
	</div>


</body>
</html>